<div>
    {{#commentsDtos}}
        <div class="card m-2" id="comments-{{id}}">
            <div class="card-header">
                {{nickname}} <!--닉네임 보여주기-->
            </div>
            <div class="card-body">
                {{body}} <!-- 본문 보여주기-->
            </div>
        </div>
    {{/commentsDtos}}
</div>